!!! Strict
%html
  %head
    %script{:src => "/socket.io/socket.io.js"}
    %script{:src => "js/socket.js"}
  %body
    %p Whiteboard! Draw on me.
    %canvas#canvas{:height => "600", :width => "800"}
    %script{:src => "js/canvas.js"}
